<h1>Contact Me</h1>
<p>Questions? Comments?  <%= link_to_function('Send me an email', "Element.show('send_me_an_email')") %> </p>
<div id="send_me_an_email" style="display:none;">
	<%=form_remote_tag(:url => {:action => 'contact. :id => 'Contact Form' '}, :html => {:id => "contact_form"}) %>
	Your e-mail: <%= text_field "contact", "email" %><br />
	Message: <br />
	<%= text_area "contact", "message", {:rows => 10} %><br />
	<%= submit_tag 'Send Email' %>
	<%= end_form_tag %>
	</div>