<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title><%= @title %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="google-site-verification" content="4o679b7thPnyi9byPY6rkFqLmeT5xphjsdZWlikn6hU" />
    <%= stylesheet_link_tag 'site' %>
    <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=IM+Fell+DW+Pica' %>
	<%= javascript_include_tag 'addEvent' %>
	<%= javascript_include_tag 'sweetTitles' %>
	
	<%= javascript_include_tag 'site'%>
    
</head>

<body>
    <ul id="general">
        
		<li><%= link_to image_tag("sm_logo.png"), {:action => 'index'}, :class => "home" %>
		</li>
        <li><%= link_to "About", {:action => 'about'}, :class => "Tips2", :title => "About Me" %></li>
		<li><%= link_to "Projects &amp; Portfolio", {:action => 'projects'}, :class => "Tips2", :title => "Some of my Projects " %></li>
    	<li><%= link_to "Blog", {:action => 'blog'}, :class => "Tips2", :title => " ...mindless rantings of a lunatic" %></li>
		<li><%= link_to "Contact Us", {:action => 'contact'}, :class => "Tips2", :title => "Drop me a note!!" %></li>
    </ul><!-- site header -->

    <div id='content'>
<%= image_tag('weatheredwatcher.jpg') %>	
       	<%= yield %>
	</div>

    

	 <div id="copyright">
            Copyright &copy; 2009 <a href="http://www.weatheredwatcher.com/">WeatheredWatcher</a>.<br />
			<a href="http://ermel.org/handcoded"><%= image_tag('handcoded.png') %></a>
			<a href="http://ermel.org/handcoded"><%= image_tag('hacker.png') %></a>
			<a href='http://www.mozilla.com/?from=sfx&amp;uid=100017&amp;t=580'><img src='http://sfx-images.mozilla.org/firefox/3.6/80x15_square_blue.png' alt='Spread Firefox Affiliate Button' /></a> <br />     
			
			<a href="http://validator.w3.org/check?uri=referer"><img src="http://www.w3.org/Icons/valid-xhtml10-blue" alt="Valid XHTML 1.0 Transitional" height="31" width="88" /></a><br />
			
			<%= image_tag('rails.png') %>
			
		
			
			<script type="text/javascript">
	//<![CDATA[
	        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	        //]]>
	        </script> <script type="text/javascript">
	//<![CDATA[
	        try {
	        var pageTracker = _gat._getTracker("UA-11027228-1");
	        pageTracker._trackPageview();
	        } catch(err) {}
	        //]]>
	        </script>

        </div>
		

</body>
</html>